@media all and  (max-width: 768px){
    .homepage{
        margin: auto;
        width: 75%;    
        text-align: -webkit-center;
        justify-content: space-around;
    }
        
    
    img {
        width: 100%;   
       
    }
    .accueil{
        margin: 10px;
        width: 35%;
        align-self: center;
    }
    
    .session_page{
        display: flex;
        flex-wrap: wrap;
        place-items: center;
    }
    
    .post_list{
        width: 50%;
    }

    .list{
        padding-top: 50px;
    }
}
    
@media all and  (min-width: 769px){
    .homepage{
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 75%;
    }
    
    img {
        width: 100%;   
       
    }
    .accueil{
        margin: 10px;
        width: 35%;
        align-self: center;
    }
    
    .session_page{
       
        place-items: center;
    }
    
    .post_list{
        width: 50%;
    }
    .list{
        padding-top: 50px;
    }
}






























