.homepage{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 75%;
}

img {
    width: 100%;   
   
}
.accueil{
    margin: 10px;
    width: 35%;
}






























