footer {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid rgb(253, 45, 1);
    border-bottom: 1px solid rgb(253, 45, 1);
    justify-content: space-around;
    color: rgb(253, 45, 1);
    
}
footer img{
    width: 20%;
    height: 160px;
    padding: 10px;
    object-fit: cover;
    
}

footer ul{
    list-style-type: none;
    align-self: center;

}

footer ul li{
    display: flex;
    place-items: center;
    padding: 15px 50px 15px 15px;
    font-weight: bold;
}

footer ul li img {
    width: fit-content;
    height: 40px;
}